::-webkit-scrollbar{
  display: none;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f7f0f0;
  width: 100%;
  height: 100vh;
}

.vd__header{
  width: 100%;
  height: 4rem;
  background: #f8f4f4;
  align-items: center;
  box-shadow: 1px 4px 2px rgb(228, 221, 221);
}

.vd__App-section{
  width: 45rem;
  height: 80%;
  margin: 1rem auto;
  display: flex;
}
.vd__profile-section{
 
}
.vd__videos-section{
  width: 80%;
  scroll-behavior: smooth;
  overflow: scroll;

}

@media screen and (max-width:550px){
  .vd__App-section{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem .3rem;
  }
  .vd__videos-section{
      height: 100%;
      border-radius: 1rem;
      padding-top: .5rem ;
  }
}